@CHARSET "UTF-8";
body{width:740px; margin: 0 auto;}
#ibody{width:740px; overflow:hidden; margin:0;}
#result{width:740px;  float:left; display:inline;}
#result_top_btn{width:730px; height:35px; float:right;}
#result_top_btn input{width:100px; height:35px; padding-bottom:7px; border:0px solid #FF0000; color:#ffffff; font-size:14px; font-weight:bold; background:url(/images/assistant_list/btn_1.jpg); float:right;}

.gengduo{width:90px; height:35px; padding-right:5px; line-height:35px; overflow:hidden; text-align:right; float:right; display:inline;}
.gengduo_d{width:150px; height:35px; padding-right:5px; line-height:35px; overflow:hidden;  float:left; display:inline;}
	
	#container_result{width:521px; float:left;}
		.result_list{width:503px; height:27px; padding-left:18px; background:#FFE5C5; line-height:27px; font-size:14px; color:#FF3907; font-weight:bold; float:left;}
		.result_banner{width:520px; margin-top:10px; float:left; display:inline;}
			.result_pg_top{width:485px; height:35px; padding-left:35px; font-size:14px; line-height:35px; font-weight:bold; color:#FF6600; background:url(/images/assistant_list/con_top.jpg) no-repeat; float:left; display: inline;}
			.result_pg_top a{font-size:12px; color:#777777; text-decoration:none; font-weight:normal;}
			.result_pg_content{width:518px; border-left:1px solid #FFDBB0; border-right: 1px solid #FFDBB0; float:left;}
				#paginage{width:100%; text-align:center; margin-top:10px; font-size:12px; color:#999999; line-height:30px; float:left;}
				#paginage a{text-decoration:none; color:#666666;}
				.result_container{width:480px; height:64px; margin-left:15px; float:left; display: inline;}
				.resultt_banner{width:450px; height:64px;float:left; display: inline; }
				.result_container img{width: 71px; height:54px; margin-top:10px; border:0px solid #000000; float:left; display:inline;}
				.result_container2{width:490px; height:64px; margin-left:15px; padding-bottom:10px; border-bottom:1px solid #F0C09D;  float:left; display: inline;}
				.result_container2 img{width: 71px; height:54px; margin-top:10px; border:0px solid #000000; float:left; display:inline;}
				.result_title{width:157px; height:18px; margin-left:15px; padding-left:13px; overflow:hidden; background:url(/images/admin/dian.gif) no-repeat 0px 5px; line-height:18px; float:left; display:inline;}
				.result_title a{font-size:12px; color:#04188E; text-decoration: none; }
				.result_title2{width:400px; height:18px; margin-top:10px; margin-left:15px; overflow:hidden; line-height:18px; float:left; display:inline;}
				.result_title2 a{font-size:12px; color:#04188E; text-decoration: none;}
				.cate_more{hegiht:20px; line-height:20px; font-size:12px; float:left; margin-top:44px;}
				.cate_more a{color:#333333; text-decoration:none;}
				.result_value{width:400px; height:32px; margin-left:15px; font-size:12px; color:#666666; line-height:16px; overflow:hidden; float:left; display: inline;}
				.result_value a{margin-left:10px; color:#999999; font-size:12px; text-decoration:none; dispaly:inline;}
				.category_name{float:left; margin-left:10px; height:25px; font-size:13px; line-height:25px;}
				.category_name a{text-decoration:none; color:#999999;}
			.result_pg_bottom{width:520px; height:6px; background:url(/images/assistant_list/con_btm.jpg) no-repeat; float:left;}
		
.v_kong{width:188px; height:15px; line-height:0px; float:left;}
.kong{width:503px; height:15px; line-height:0px; float:left;}