body{width:970PX; margin: 0 auto;}
#ibody{width:970px; overflow:hidden; margin:0;}

#f_r{width:745px;  float:right; display:inline;}
#fr_t{width:745px; height:272px; float:left; display:inline;}
#fr_tp{width:535px; height:272px; background:url(../images/helper/d.jpg) no-repeat; float:left; display:inline;}
#fr_trp{width:200px; height:272px; float:right; display:inline;}

.fc_l{width:336px; height:192px; margin:15px; margin-top:15px; margin-bottom:0px; border:3px solid #FADCB5; float:left; display:inline; }
.fc_t{width:336px; height:26px; background:url(../images/helper/h_1.jpg) repeat-x; float:left; display:inline;}
.fct_l{width:230px; height:26px; margin-left:10px; font-size:14px; color:#FF6600; line-height:26px; font-weight:600; float:left; display:inline;}
.fct_r{width:50px; height:26px; line-height:26px; float:right; display:inline;}
.fct_r a{ font-size:12px; color:#FF6600; text-decoration:none;}
.fcl_l{width:88px; height:164px; float:left; display:inline;}
.fcl_r{width:244px; height:154px;  margin-top:10px; float:right; display:inline; }
.fci_a{width:62px; height:62px; margin-left:10px; margin-top:15px; border:1px solid #DADADA; float:left; display:inline;}
.fci_b{width:62px; height:62px; margin-left:10px; margin-top:7px; border:1px solid #DADADA; float:left; display:inline;}
.fcl_l img{width:58px; height:58px; margin:2px; float:left; display:inline;}
.fcr_c{width:244px; height:20px; margin-top:1px; float:left; display:inline; }
.fcrc_d{width:4px; height:4px; margin-top:9px; margin-left:5px; font-size:0px; line-height:0px; background:#FFA200; float:left; display:inline;}
.fcrc_c{width:220px; height:20px; margin-left:10px; line-height:20px; font-size:12px; float:left; display:inline;}
.fcrc_c a{text-decoration: none;color:black; }
#fc_b{ background:url(../images/helper/h_2.jpg) repeat-x;}
#fc_c{ background:url(../images/helper/h_3.jpg) repeat-x;}
#fc_d{ background:url(../images/helper/h_4.jpg) repeat-x;}
#fc_e{ background:url(../images/helper/h_5.jpg) repeat-x;}
#fc_f{ background:url(../images/helper/h_6.jpg) repeat-x;}

#fct_b{ border:3px solid #C3E4EC; }
#fct_c{ border:3px solid #D0EBC4; }
#fct_d{ border:3px solid #F3BCC3; }
#fct_e{ border:3px solid #EBC4DC; }
#fct_f{ border:3px solid #D7C4EB; }

#fct_rb a{color:#6EB6CA;}
#fct_lb{color:#6EB6CA;}
#fct_rc a{color:#84CD64;}
#fct_lc{color:#84CD64;}
#fct_rd a{color:#E56275;}
#fct_ld{color:#E56275;}
#fct_re a{color:#CB66A4;}
#fct_le{color:#CB66A4;}
#fct_rf a{color:#9977BF;}
#fct_lf{color:#9977BF;}

#fr_b{width:710px; margin-top:20px;  margin-left:15px; float:left; display:inline;}
#frb_tz{width:710px; height:33px; float:left; display:inline;}
#frbt_l{width:3px; height:33px; background:url(../images/helper/b_l.jpg) no-repeat; font-size:0px; line-height:0px; float:left; display:inline;}
#frbt_c{width:704px; height:31px; border-top:1px solid #E7E7E7; border-bottom:1px solid #E7E7E7; background:url(../images/helper/b_c.jpg) repeat-x; float:left; display:inline;}
#frbt_c a{text-decoration:none;}
#frbt_r{width:3px; height:33px; background:url(../images/helper/b_r.jpg) no-repeat; font-size:0px; line-height:0px; float:left; display:inline;}
#frbt_img{width:18px; height:18px; margin-left:10px; margin-top:5px; border:0px solid red; font-size:0px; line-height:0px;  background:url(../images/helper/b_d.jpg) no-repeat; float:left; display:inline;}
#frbt_v{width:80px; height:30px; margin-left:10px; color:#F36A5B; line-height:30px; font-size:14px; font-weight:600; float:left; display:inline;}
#frbt_v font{color:#000; font-size:14px; }

#frbt_rrr{width:40px; height:16px; margin-top:10px; margin-right:5px; color:#000;  font-size:12px; margin-top;5px;  float:right; display:inline;}
#frbt_rrr img{width:13px; height:11px; margin-top:1px; border:0px solid red; float:right; display:inline;}
#frbt_rrr a{font-size:12px; text-decoration:none; color:#000;}
.frb_z{width:331px;  margin-left:10px; margin-top:15px; float:left; display:inline;}
.frb_zz{width:331px; height:20px; float:left; display:inline; }
.frbzz_d{width:3px; height:3px; margin-top:8px; font-size:0px; line-height:0px; background:#888888; float:left; display:inline;}
.frbzz_c{width:310px; height:20px; margin-left:6px; overflow:hidden; float:left; display:inline;}
.frbzz_c a{text-decoration:none;  font-size:14px; font-weight:600; line-height:20px; color:#000000; }
.frbzz_c a font{color:#888893; text-decoration:underline;}
