@CHARSET "UTF-8";
#c_c{width:770px; overflow:hidden; float:left; display:inline;margin:5px 10px;}
#cc_c{width:770px;  background:#E5F3CD; float:left; display:inline;}
#cc_t{background:url(/images/baby/log_t.jpg ) repeat; width:770px; height:24px; float:left; display:inline;}
#cc_b{background:url(/images/baby/log_b.jpg) no-repeat;width:770px; height:26px; float:left; display:inline; }
#cc_pg{width:740px; margin-left:15px; background:#ffffff; float:left; display:inline;}
#r_log{width:690px; margin-left:10px; border-bottom:0px solid red; background: url(/images/yard/log.jpg) no-repeat; padding-left:40px;}
.r_title{width:700px; height:22px; margin-left:10px; margin-top:10px; padding-left:20px; border-bottom:2px solid #f1f1f1; font-size:14px; font-weight:bold; color:#000000; line-height:22px; background:url('/images/member/r_title_bg.jpg') 5px 4px no-repeat; float:left; display:inline;}
.r_title a{color:#ff6600;}
#r_log_hr{width:728px; height:30px; margin-left:10px; margin-top:25px; position:relative; background: url(/images/yard/log_hr.jpg) repeat-x; border:1px solid #E4E4E4; float: left; display: inline;}
#r_log_hr div{width:100px; height:30px; text-align: center; cursor:pointer;   line-height:30px;  font-size: 12px; font-weight: bold; color: #AC4C00; background: url(/images/yard/log_hr5.jpg) repeat-x; border:0px solid red;float:left;}
.c_menu_pg_p{width:730px; height:30px; margin-left:10px; background:url(/images/yard/log_hr2.jpg) repeat-x;  float: left; display: inline;}

.r_title{width:710px; height:22px; margin-left:10px; margin-top:10px; padding-left:20px; border-bottom:2px solid #f1f1f1; font-size:14px; font-weight:bold; color:#000000; line-height:22px; background:url('/images/member/r_title_bg.jpg') 5px 4px no-repeat; float:left; display:inline;}
.r_title a{color:#ff6600;}
.r_table{width:730px; margin-top:10px; margin-left:10px; float:left; display:inline;}
.r_table tr{line-height:34px;}
.r_table .td1{width:145px; border-top:1px solid #f1f1f1; border-bottom:1px solid #f1f1f1; padding-right:5px; text-align:right; color:#666666; background:#f9f9f9;}
.r_table .td2{width:625px; border-top:1px solid #f1f1f1; border-bottom:1px solid #f1f1f1; padding-left:5px; text-align:left;}
.r_table span{color:#ff6600;}
.r_table .td2 input{width:213px; height:22px; margin-top:3px; padding-left:5px; border:1px solid #cccccc; color:#333333; line-height:22px;}
.r_table .td2 input.radio{width:20px; height:16px; border:0px; margin-left:5px;}
.r_table .td2 select{height:20px; margin-right:5px; border:1px solid #cccccc;}
#r_button{width:740px; margin-top:20px; text-align:center; float:left; display:inline;}
#r_button button{width:72px; height:30px; border:0px; cursor:pointer; background:url('/images/member/save.jpg') no-repeat;}
.big_input{width:400px;height:120px;}
