body{width:970PX; margin: 0 auto; }

#ibody{width:970px; overflow:hidden; margin:0;}

#fbody{ width:970px; overflow:hidden;  background:#ffffff; float:left; display:inline;}

#content{width:970px;  margin-top:12px; float:left; display:inline;}
#c_l{width:205px;  overflow:hidden; float:left; display:inline;}
#c_r{width:755px; float:right; display:inline;}
#l_pho{width:200px; height:170px; margin-left:5px; background:url(/images/class/lpge.jpg) no-repeat; float:left; display:inline;}
#lp_t{width:170px; height:20px; margin-left:20px; margin-top:14px; font-size:13px; line-height:20px; color:#F34B00; font-weight:bold; float:left; display:inline;}
#lp_p{width:175px; height:50px; margin-left:20px; margin-top:15px; float:left; display:inline; }
#lp_l{width:50px; height:50px; float:left; display:inline;}
#lp_l img{width:50px; height:50px;}
#lp_word{width:120px; height:50px; margin-left:5px; line-height:25px; overflow:hidden; font-size:13px; font-weight:bold; float:left; display:inline;}
#l_b_wa,#l_b_wb{width:150px; height:20px; line-height:20px; margin-left:35px;font-size:12px; color:#666666; font-weight:bold; float:left; display:inline;}
#l_b_wa{margin-top:11px;}
#l_b_wa font{color:red;}
#l_test,#l_look{width:200px; height:42px; font-size:0px; line-height:0px; margin-left:5px; float:left; display:inline;}
#l_test{margin-top:14px; background:url(/images/class/l_pg_a.jpg) no-repeat;}
#l_look{margin-top:13px; background:url(/images/class/l_pg_b.jpg) no-repeat;}
#pic_r{width:210px; margin-top:5Px; line-height:0px; float:left; display:inline;}
.ppg{width:56px; margin-left:7px; margin-right:7px; margin-top:5px; float:left; display:inline;}
.ppg_w{width:56px; height:25px; line-height:25px; overflow:hidden; color:#2F9A32; text-align:center; float:left; display:inline;}
.pic_pg{width:56px; height:56px; font-size:0px; line-height:0px; background:url(/images/yard/pic_pg.jpg) no-repeat; float:left; display:inline;}
.pic_img{width:48px; height:48px; font-size:0px; line-height:0px; margin:4px; overflow:hidden; float:left; display:inline;}
.pic_img img{width:48px; height:48px;}
#l_f{width:195px; height:20px; margin-left:6px; margin-top:30px; float:left; display:inline;}
#lf_l{width:70px; height:16px; font-size:14px; color:#FF822F; font-weight:bold; float:left; display:inline;}
#lf_l font{color:#000000;}
#lf_c{width:70px; height:16px; font-size:12px; margin-top:2px; color:#CCCCCC; font-weight:bold; line-height:16px; float:left; display:inline;}
#lf_c font{color:#FF9900;}
#lf_r{width:50px; height:12px; font-size:12px; margin-top:4px; font-weight:bold; color:#CCCCCC; float:right; display:inline;}

#bg_pg{width:747px; height:167px; margin-top:40px;  margin-bottom:15px; float:right; display:inline;}
#bg_pg img{width:747px; height:167px; border:0px solid red;}
#pg_a{width:200px; height:141px; margin-left:10px; margin-top:20px; background:url(/images/class/l_pg.jpg) no-repeat; float:left; display:inline;}

#pric_l{width:1px; height:175px; background:#ffffff; float:left; display:inline;}
#pric_rl{width:1px; height:151px; background:#ffffff; float:right; display:inline;}

#cr_top{width:750px; height:363px;  float:right; display:inline;}
#cr_flash{width:500px; height:363px; background:#000; line-height:363px;  font-size:72px; color:#ffffff; text-align:center; float:left;}
#img_flash{width:235px; height:363px; float:right;}
#img_flash img{width:235px; height:363px; border:0px solid red;}

#bg_hr{width:958px; height:4px; margin-top:17px; margin-left:10px; background:url(/images/class/b_hr.jpg) repeat-x; float:left; display:inline;}

.hlc_t{width:200px; height:4px; margin-left:5px; margin-top:10px; font-size:0px; line-height:0px; background:url(/images/helper/lb_t.jpg) no-repeat; float:left; display:inline;}
.hlc_b{width:198px; margin-left:5px; border-left:1px solid #E7E7E7; border-right:1px solid #E7E7E7; float:left; display:inline;}
.hlc_bb{width:198px; margin-left:5px; height:4px; font-size:0px; line-height:0px; background:url(/images/helper/lb_b.jpg) no-repeat; float:left; display:inline;}
.hlcb_pg{width:198px; height:23px; background:url(/images/helper/lb_h.jpg) repeat-x; float:left; display:inline;}
.hlct_t{width:100px; height:15px; margin-left:14px; margin-top:2px; font-weight:bold; color:#4E4E4E; font-size:12px; float:left; display:inline;}
.hlcb_pg img{width:5px; height:3px; margin-top:8px; border:0px solid red; float:left; display:inline; }
.hlcb_z{width:198px; height:60px; margin-top:10px; float:left; display:inline;}
.hlcb_l{width:25px; height:60px; float:left; display:inline;}
.r{width:12px; height:12px; margin-left:10px; font-size:12px; line-height:12px; background:#F58626; color:#ffffff; border:1px solid #F36E0C; text-align:center; font-weight:bld; float:left; display:inline;}
.hlcb_r{width:160px; height:60px; margin-left:3px; float:left; display:inline;}
.hlcb_t{width:160px; height:16px; margin-top:1px; font-size:12px; font-weight:bold; color:#666666; overflow:hidden; line-height:16px; float:left; display:inline;}
.hlcb_t font{color:#F34B2E; font-size:12px;}

#crcb_t{width:748px; height:30px; margin-top:25px; border:0px solid red; float:right; display:inline;}
.cr_a{width:125px; height:30px; line-height:30px; border:0px solid red; background:url(/images/class/btn.jpg) no-repeat; text-align:center; float:left; display:inline;}
.cr_a a{font-size:16px; font-weight:800; color:#1A908A; text-decoration: none;}

.cr_cb{width:738px; height:202px; position:relative; border:5px solid #4FD4B6; float:right; display:inline;}
.crc_pg{width:736px; height:200px; border:1px solid #00A9AC; float:left; }
.class_img{margin-top:-3px; margin-right:-3px; border:0px solid red; position:absolute; top:0px; right:0px;}
.crb_img{width:313px; height:178px; margin-top:10px; margin-left:11px; position:relative; border:1px solid #E9E7EA; float:left; display:inline;}
.crb_img img{width:311px; height:178px;}
.crr_z{width:400px; height:185px; margin-left:10px; overflow:hidden; float:left; display:none;}
.crb_title{width:320px; height:20px; margin-top:10px; padding-left:20px; line-height:20px;  background:url(/images/class/pic.jpg) no-repeat; font-size:16px; font-weight:bold; float:left; display:inline;}
.crb_title font{color:#EC4610; font-size:16px; font-weight:bold;}
.crr_t{width:387px; height:80px; margin-top:10px; float:left; position:relative; display:inline;}
.crrt_l{width:77px; height:60px; margin-top:3px; overflow:hidden; border:5px solid #E7E7DF; float:left; display:inline;}
.crrt_l img{width:73px; height:56px; margin-top:2px; margin-left:2px; }
.crrt_c{width:275px; height:18px; margin-left:10px; margin-top:6px; font-size:14px; font-weight:bold; overflow:hidden; float:left; display:inline;}
.crrt_c a{text-decoration:none; color:#000000; font-size:14px;}
.crrt_b{width:275px; height:44px; margin-left:10px; margin-top:5px; color:#8C8C8C; overflow:hidden; font-size:13px;  float:left; display:inline;}
.crr_c{width:377px; height:1px; margin-top:2px; font-size:0px; line-height:0px; background:url(/images/class/cr_pg.jpg) repeat-x; float:left; display:inline;}
.crr_b{width:188px; height:20px; margin-left:10px;  line-height:20px; overflow:hidden; float:left; position:relative; display:inline;}
.crrab_z{margin-toP:5px; float:left; display:inline;}
.crrab_z a{font-size:12px; color:#666691; text-decoration:none;}
#num_banner{width:313px; height:16px; position:absolute; bottom:2px; right:0px; color:#fff; opacity:0.70; filter:alpha(opacity = 70);  float:right;}
.num{width:20px; height: 14px; margin-left:5px; cursor:pointer; line-height: 14px; font-size:12px; background:#000; text-align: center; float:right;}

#cr_ci{width:748px; height:208px; margin-top:15px; float:right; display:inline;}
#cri_t{width:748px; height:14px; font-size:0px; line-height:0px; background:url(/images/class/m2_p.jpg) no-repeat; float:left; display:inline;}
#cri_c{width:746px; border-left:1px solid #D6D6D6; background:#E4E4E4; border-right:1px solid #D6D6D6; float:left; display:inline;}
#cric_pg{width:736px;  margin-left:4px; border-left:1px solid #D6D6D6; border-right:1px solid #D6D6D6; background:url(/images/class/sousuo_pg.jpg) repeat-x; float:left; display:inline;}
#cri_b{width:748px; height:16px; background:url(/images/class/sousuo_pg_b.jpg) no-repeat; float:left; display:inline;}
#cric_title{width:735px; height:20px; margin-top:1px; font-family:宋体; font-size:20px; font-weight:bold; text-align:center; color:#617381; float:left; display:inline;}
#cric_title font{color:#379516;}
#cric_c{width:730px; height:128px; margin-top:13px; float:left; display:inline;}
.cricc_a{width:103px; height:128px; margin-left:18px; border:0px solid red; background:url(/images/class/c_pg.jpg) no-repeat; overflow:hidden; float:left; display:inline;}
.cricc_a div{width:88px; height:128px; overflow:hidden; border:0px solid red; float:left; display:inline;}
.cricc_a div img{width:88px; height:128px; border:0px solid red;}
#login a{text-decoration:none; color:#ffffff;}

#bottom{width:970px; text-align:center; margin-top:20px; font-size:12px; color:#666666; float:left; display:inline;}
#bottom_b{width:970px; margin-top:10px; margin-bottom:50px; text-align:center; font-size:12px; color:#666666; float:left; display:inline;}