body{width:970px; margin: 0 auto; }

#ibody{width:970px; overflow:hidden; margin:0;}

#fbody{ width:970px; margin-left:10px; overflow:hidden;  background:#ffffff; float:left; display:inline;}

#content{width:970px;  margin-top:12px; overflow:hidden; float:left; display:inline;}
#c_l{width:205px;  margin-left:7px; overflow:hidden; float:left; display:inline;}
#c_r{width:756px; float:right; display:inline;}
#class_sort{width:200px; margin-top:15px; margin-left:5px; float:left; display:inline;} 	
#sort_top{width:200px; height:27px; font-size:0px; line-height:0px; background:url(../images/class/l_desc.jpg) no-repeat; float:left; display:inline;}
#sort_con{width:198px; border-left:1px solid #E7E7E7; border-right:1px solid #E7E7E7; float:left; display:inline;}
#sort_btm{width:200px; height:4px; font-size:0px; line-height:0px; background:url(../images/class/l_desc_b.jpg) no-repeat; float:left; display:inline;}
.s_c_z{width:176px; height:65px; color:#768B8B; margin-left:11px; margin-top:10px; float:left; display;inline;}
.s_nb{width:13px; height:13px; background:#F58421; border:1px solid #F36E0C; font-size:12px; text-align:center; color:#ffffff; float:left; display:inline;}
.s_title{width:140px; height:16px; margin-top:3px; font-size:12px; font-weight:bold; float:left; display;inline;}
.scz_num{width:20px; height:60px; float:left; display:inline;}
.scz_value{width:152px; height:60px; float:left; display:inline;}
.s_peo{width:150px; height:14px; margin-top:5px; font-size:12px; font-weight:bold; float:left; display;inline;}
.s_dl{width:150px; height:14px; margin-top:5px;  font-size:12px; font-weight:bold; float:left; display;inline;}
.s_dl font{color:red; font-size:12px; font-weight:bold;}
#pic_r{width:210px; margin-top:5Px; line-height:0px; float:left; display:inline;}
.ppg{width:56px; margin-left:7px; margin-right:7px; margin-top:5px; float:left; display:inline;}
.ppg_w{width:56px; height:25px; line-height:25px; overflow:hidden; color:#2F9A32; text-align:center; float:left; display:inline;}
.pic_pg{width:56px; height:56px; font-size:0px; line-height:0px; background:url(../images/yard/pic_pg.jpg) no-repeat; float:left; display:inline;}
.pic_img{width:48px; height:48px; font-size:0px; line-height:0px; margin:4px; overflow:hidden; float:left; display:inline;}
.pic_img img{width:48px; height:48px;}
#l_f{width:195px; height:20px; margin-left:6px; margin-top:20px; float:left; display:inline;}
#lf_l{width:70px; height:16px; font-size:14px; color:#FF822F; font-weight:bold; float:left; display:inline;}
#lf_l font{color:#000000;}
#lf_c{width:70px; height:16px; font-size:12px; margin-top:2px; color:#CCCCCC; font-weight:bold; line-height:16px; float:left; display:inline;}
#lf_c font{color:#FF9900;}
#lf_r{width:50px; height:12px; font-size:12px; margin-top:4px; font-weight:bold; color:#CCCCCC; float:right; display:inline;}

#pg_a{width:200px; height:141px; margin-top:7px; background:url(../images/class/l_pg.jpg) no-repeat; float:left; display:inline;}
#bg_hr{width:958px; height:4px; margin-left:10px; margin-top:40px; background:url(../images/class/b_hr.jpg) repeat-x; float:left; display:inline;}


#address{width:730px; height:20px; margin-left:20px; margin-top:4px; font-size:12px; font-weight:bold; float:left; display:inline;}
#address font{color:red;}
#address a{color:black; text-decoration: none;}
#c_hr{width:748px; height:4px; margin-left:10px; margin-top:5px; background:url(../images/feedback/hr.jpg) repeat-x; float:left; display:inline;}
#h_title{width:748px; height:20px; margin-top:15px; line-height:20px; font-size:15px; font-weight:bold; color:#000; overflow:hidden; text-align:center;  float:left; display:inline;}
#c_title{width:748px; height:20px; margin-top:10px;  font-size:18px; font-weight:bold; color:#40A10F; text-align:center; float:left; display:inline;}
#cc_hr{width:748px; height:1px; margin-left:10px; margin-top:20px; background:url(../images/feedback/hr_b.jpg) repeat-x; float:left; display:inline;}
#cc_c{width:718px;  margin-left:20px; text-indent:2em; overflow:hidden; font-size:13px; color:#666666; line-height:20px; margin-top:10px; float:left; display:inline;}
#c_view{width:710px; height:135px; margin-top:20px; margin-bottom:15px; margin-left:10px; background:#F0F0F0; float:left; display:inline;}
#cv_title{width:680px; height:20px; margin-top:25px; margin-bottom:5px; margin-left:10px; font-size:12px; font-weight:bold; line-height:20px; float:left; display:inline;}
#cv_text{width:590px; height:40px; margin-left:35px; float:left; display:inline;}
#but{width:40px; height:40px; padding:3px; margin-left:15px; float:left; display:inline;}
#cv_bz{width:590px; height:20px; margin-left:35px; line-height:20px; font-size:12px; color:#918C8C; float:left; display:inline;}


#class_type{width:738px; margin-right:8px; float:right; display:inline;	}
#ct_t{width:738px; height:3px; font-size:0px; line-height:0px; background:url(../images/yetrb/yet_pg.jpg) no-repeat; float:left; display:inline;}
#ct_c{width:736px; height:428px; background:#F7FCDD; border-left:1px solid #C8E491; border-right:1px solid #C8E491; overflow:hidden; float:left; display:inline;}
#ct_b{width:738px; height:3px; font-size:0px; line-height:0px; background:url(../images/yetrb/yet_pg2.jpg) no-repeat; float:left; display:inline;}
#ctc_tz{width:730px; height:22px; margin-top:5px; float:left; display:inline;}

.ctct_t{width:95px; height:22px;  margin-left:10px; line-height:22px; font-size:14px; font-weight:bold; float:left; display:inline;}
#ctct_r{width:69px; height:22px; margin-right:3px; border:0px solid red; font-size:14px; color:#666666; text-align:center; line-height:22px; background:url(../images/yetrb/b.jpg) no-repeat; float:right; display:inline;}
.ctc_bz{width:734px; height:96px; margin-top:5px; margin-right:5px; float:right; display:inline;}
.ctct_t font{color:#559A2E;}
.ctb_t{width:724px; height:3px; margin-left:6px; font-size:0px; line-height:0px; background:url(../images/yetrb/3a.jpg) no-repeat; float:left; display:inline;}
.ctb_c{width:722px; margin-left:6px; border-left:1px solid #9ACC2A; overflow:hidden; border-right:1px solid #9ACC2A; float:left; display:inline;}
.ctb_b{width:724px;  height:3px; margin-left:6px; background:url(../images/yetrb/3b.jpg) no-repeat; float:left; display:inline;}
.ctbb{width:41px; height:41px; margin-toP:-38px; margin-left:683px; z-index:100px; position:absolute; border:0px solid red; float:right; display:inline;}
#ctc_tz a{text-decoration:none;}

#ctb_l{margin:4px; float:left; display:inline;}
#ctl_a{width:83px; height:83PX; float:left; display:inline;}
#ctl_b{width:83px; height:83PX; float:left; display:inline;}
#ctb_r{width:535px; height:83px; margin:4px;  overflow:hidden; float:right; display:inline; }
#ctb_rt{width:480px; height:20px; float:left; display:inline;}
#ctb_rt a{font-weight:bold; color:#000000; text-decoration:none; font-size:14px; font-weight:bold;}
#ctb_rc{width:520px; height:60px; line-height:20px; font-size:12px; color:#666666; overflow:hidden; text-indent:24px; float:left; display:inline;}
#ctb_m{width:720px; margin-top:10px; margin-left:10px; line-height:22px; font-size:14px; font-weight:bold; float:left; display:inline;}
#ctb_m font{color:#559A2E;}

#cm_l{margin-top:13px; margin-bottom:10px; margin-left:10px; border:6px solid #E7E7DF; float:left; display:inline;}
#cm_l img{width:73px; height:56px; margin:2px; overflow:hidden;}
#cm_c{width:290px; height:73px; margin-left:10px; margin-top:13px; overflow:hidden; float:left; display:inline;}
#cmc_t{width:290px; height:20px; float:left; display:inline;}
#cmc_t a{font-size:14px; color:#000000; font-weight:bold; text-decoration:none; float:left; display:inline;}
#cmc_c{width:285px; height:55px; line-height:18px; font-size:12px; overflow:hidden; float:left; display:inline;}
#cmc_c a{color:#666666; text-decoration:none;}
#cm_b{width:320px; height:73px; margin-top:13px; overflow:hidden; float:left; display:inline;}
.cm_z{width:318px; height:17px; margin-top:1px; overflow:hidden; float:left; display:inline;}
.cmz_l{width:4px; height:4px; margin:7px; overflow:hidden; background:#FFA200; float:left; display:inline;}
.cmz_r{width:298px; height:16px; overflow:hidden; line-height:16px; font-size:12px; float:left; display:inline;}
.cmz_r a{color:#666666; font-weight:bold; text-decoration:none;}


#c_pic{width:720px; height:31px; margin-top:15px; float:left; display:inline;}
.c_p_b{width:80px; height:31px; margin-left:40px; color:#666666; font-size:12px; cursor:pointer;  text-align:center; line-height:23px; background:url(../images/yetrb/b.jpg) no-repeat;  float:left; display:inline;}
.c_p_b.selected{background:url(/images/yetrb/a.jpg) no-repeat;}
#ctc_bz{width:734px; height:96px;  margin-top:-5Px; float:right; display:inline;}
#ctb_t{width:724px; height:3px; margin-left:6px; font-size:0px; line-height:0px; background:url(../images/yetrb/3a.jpg) no-repeat; float:left; display:inline;}
#ctb_c{width:722px; height:93px; margin-left:6px; border-left:1px solid #9ACC2A; overflow:hidden; border-right:1px solid #9ACC2A; float:left; display:inline;}
#ctb_b{width:724px; height:3px; margin-left:6px; background:url(../images/yetrb/3b.jpg) no-repeat; float:left; display:inline;}
#ctbb{width:41px; height:41px; margin-top:-38px; margin-left:693px; z-index:100px; position:absolute; background:url(../images/yetrb/gd.gif) no-repeat; float:right; display:inline;}
#ctbc_c{width:730px; height:80px; margin-top:7px; float:left; display:inline; float:left;}
.ctb_img{width:79px; height:78px; margin-left:8px; border:1px solid #DBDBDB; overflow:hidden; float:left; display:inline;}

#buy{width:71px; height:22px; margin-right:10px; color:#000000; font-size:14px; line-height:22px; background:url('/images/feedback/buy_bg.jpg') no-repeat; text-align:center; float:right; display:inline;}

#bottom{width:1000px; text-align:center; margin-top:20px; font-size:12px; color:#666666; float:left; display:inline;}
#bottom_b{width:1000px; margin-top:10px; margin-bottom:50px; text-align:center; font-size:12px; color:#666666; float:left; display:inline;}

#critique{width:635px; height:20px; margin-top:35px; line-height:20px; float:left; display:inline;}
#critique_l{width:130px; height:20px; margin-left:30px; line-height:20px; font-size:14px; color:#666666; font-weight:bold; float:left; display:inline;}
#critique_l a{font-size:12px; color:#BA2636; font-weight:lighter; text-decoration:none;}

.cri_content{width:635px;  margin-top:5px; float:left; display:inline;}
.fun{width:635px; height:20px; margin-top:20px; text-align:center; font-size:12px; float:left; dispaly:inine;}
.cri_tz{width:635px; margin-top:32px; margin-left:30px; line-height:20px; float:left; display:inline;}
.crit_l{width:228px; height:20px; font-size:16px; color:#6600FF;  font-weight: bold; float:left; display:inline;}
.crit_l font{font-size:10px; font-family:arial; color:#999999;}
.crit_r{width:130px; height:20px; font-size:12px; color:#6600FF;  font-weight: bold; text-align:center; line-height:20px; float:right; display:inline;}
.up font{font-size:12px; color:#6600FF; text-decoration:none;}
.down font{font-size:12px; color:#6600FF; text-decoration:none;}
.up{float:left; display: inline;}
.cri_c{width:635px; height:20px; margin-top:15px; line-height:25px; font-size:14px; color:#666666; overflow:hidden; float:left; display:inline;}
.c_hr{width:635px; height:1px; margin-top:20px; background:url(/images/article/hr_l.jpg) repeat-x; font-size:0px; line-height:0px; float:left; display:inline;}