body{width:970PX; margin: 0 auto; }

#ibody{width:970px; overflow:hidden; margin:0;}

#fbody{ width:970px; overflow:hidden;  background:#ffffff; float:left; display:inline;}

#content{width:970px;  margin-top:12px; float:left; display:inline;}
#c_l{width:205px;  overflow:hidden; float:left; display:inline;}
#c_r{width:755px; float:right; display:inline;}
.flash_discription{width:727px; height:251px;  background:#99CCCC; overflow:hidden; font-size:13px; padding-left:10px;  padding-top:10px; left:2px; top:2px; position: absolute; float: left;display: none;}
.fflash_discription{width:727px; height:251px;  background:#99CCCC; overflow:hidden; font-size:13px; padding-left:10px;  padding-top:10px; left:2px; top:2px; position: absolute; float: left;display: none;}
	.f_d_title{width:730px; height:20px;line-height:20px; float:left; display: inline;}
	.f_d_btn{width:710px; height:20px; padding-right:20px; cursor:pointer; line-height:20px; text-align:right;  float:left; display: inline;}
	.ff_d_btn{width:710px; height:20px; padding-right:20px; cursor:pointer; line-height:20px; text-align:right;  float:left; display: inline;}
	.f_d_content{width:720px; height:190px; padding-top:10px; line-height:0px; float:left; display: inline;}
	.f_d_c{width:35px; height:50px; padding-top:10px; line-height:10px; overflow:hidden; float:left; display: inline;}
	.fda_content{width:620px; height:178px; padding-left:10px; padding-right:10px; overflow-y:auto; color:#333399; border:1px solid #7B9CBD; background:#ffffff; line-height: 18px; font-size:12px;}
	.text_area{width:620px; height:208px; padding-left:10px; padding-right:10px;  overflow-y:auto; color:#333399; border:1px solid #7B9CBD; background:#ffffff; line-height: 18px; font-size:12px;}
	.f_d_btn{cursor:pointer;}
	.fd_content{width:710px; height:200px; line-height:200px; font-size:20px; font-weight:bold; text-align: center; float: left; display: inline;}

#cr_flash{width:741px; height:265px; overflow:hidden; border-left:1px solid #71CAE4; border-bottom:1px solid #71CAE4; border-top:2px solid #71CAE4; border-right:2px solid #71CAE4;  float:right; display:inline;}
#cr_banner{width:739px; height:263px;  overflow:hidden; border:1px solid #0086F8; float: left;}
#cr_banner a img{width:61px; height:61px; margin-right:-4px; margin-top:-1px; line-height:0px; border:0px solid red; float:right; display:inline;}

#crf_l{width:410px; height:260px; margin-left:2px; margin-top:2px; font-size:52px; color:#ffffff; text-align:center; line-height:240px;  float:left; display:inline;}
#crf_r{width:315px; height:255px; margin-left:5px;  float:left; display:inline;}
#crf_t{width:280px; height:30px; margin-left:15px; margin-top:5px; font-size:16px; font-weight:bold; color:#000; float:left; display:inline;}
#crf_t font{ font-size:16px; color:#EC4610; font-weight:bold;}
.crf_c{width:290px; height:220px;  overflow:hidden; font-size:13px; color:#666666; line-height:18px; float:left; display:none;}
	.crf_c a{color:#666666; text-decoration: none;}
.crf_ti{width:77px; height:60px; margin-right:5px; border:6px solid #E7E7DF; float:left; display:inline; }
.crf_ti img{width:73px; height:56px; margin-left:2px; margin-top:2px; float:left; display:inline;}
.crg_tt{width:190px; height:25px;  line-height:20px; float:left; display:inline;}
.crg_tt a{font-weight:bold; font-size:14px; color:#000; text-decoration:none;}
#crf_d{width:120px; height:22px; margin-right:15px; margin-top:10px; float:right; display:inline;}
.cr_num{width:22px; height:22px; margin-left:7px; cursor:pointer; font-size:12px; font-weight:bold; text-decoration:none; color:#71CAE4; background:url(/images/test/r_nb.jpg) no-repeat; text-align:center; line-height:22px; float:left; display:inline; float:left;}

#cr_b{width:741px; height:200px; margin-tOP:27px; float:right; display:inline; }
#crb_t{width:741px; height:27px; float:left; display:inline; }
.crb_value{width:81px; height:26px; background:#FDFDFD; border:0px solid red; float:left; display:inline;}
.crb_tt{width:81px; height:3px; font-size:0px; line-height:0px; background:url(/images/test/t.jpg) no-repeat; float:left; display:inline;}
.crb_cc{width:79px; height:23px; font-size:14px; color:#999999; font-weight:600; text-decoration:none; cursor:pointer; border-left:1px solid #C2C2C2; border-bottom:1px solid #C2C2C2;  text-align:center; line-height:23px; border-right:1px solid #C2C2C2; float:left; display:inline;}
.crb_hh{width:3px; height:26px;  font-size:0px; line-height:0px; border-bottom:1px solid #C2C2C2; float:left; display:inline; }
.crb_vv{width:151px; height:26px; background:#FDFDFD; border:0px solid red; float:left; display:inline;}
.crb_ttt{width:151px; height:3px;   font-size:0px; line-height:0px; background:url(/images/test/tt.jpg) no-repeat; float:left; display:inline;}
#cr_hr{width:254px; height:26px; background:#ffffff; border-bottom:1px solid #C2C2C2; float:left; display:inline;}
.crb_c{width:740px; height:144px; margin-top:15px; float:left; display:none;}
.crbc_a{width:139px; height:136px; margin-top:4px; margin-left:4px; float:left; display:inline;}
.crbc_a img{width:139px; height:136px; border:0px solid red;}
.crbci_t{width:570px; height:136px;  margin-left:10px; font-size:12px; z-index:1; overflow:hidden; text-indent:24px; line-height:20px;  text-align:left; float:left; display:inline;}
	.cr_view{width:570px; height:136px; left:0px; top:0px; background:#000; font-size:12px; text-indent:24px; line-height:20px; }
.crbci_t a{font-size:12px; color:#7970B9; text-decoration:none;}

#crc{width:740px; height:1px; margin-top:10px; font-size:0px; line-height:0px; background:url(/images/test/hr_c.jpg) repeat-x; float:right; display:inline;}

#crd{width:741px; height:103px; margin-top:15px; float:right; display:inline;}
.crd_z{width:240px; height:103px; margin-left:10px;  position:relative; float:left; display:inline;}
.crd_z img{width:240px; height:103px; }
#crd_z{margin-left:1px;}
.crd_f{width:240px; height:28px; left:0px; position:absolute; text-align:center; line-height:28px;  color:#fff; bottom:5px;  opacity:0.60; filter:alpha(opacity = 60); background:#000; overflow:hidden;}
.crd_f a{font-size:20px; color:#ffffff;    font-weight:bold; text-decoration:none;}

#cre{width:746px; height:167px; margin-top:10px; position:relative; float:right; display:inline;}
#cre img{width:746px; height:167px;  border:0px solid red;}
#cre a{ color:#ffffff; font-weight:bold; font-size:20px; text-decoration:none;}

#crf{width:746px; height:180px; margin-top:25px; float:right; display:inline;}
#cf_z{margin-left:70px;}
.cf_z{width:315px; height:180px; margin-left:10px; float:left; display:inline;}
.cfz_t{width:312px; height:25px; line-height:25px; background:#ECF2FC; border-left:3px solid #4280DD; float:left; display:inline;}
.cfz_t font{margin-left:10px; font-size:14px; color:#333333; font-weight:bold;}
.cfz_cz{width:300px; height:150px; margin-left:13px; margin-top:5px; float:left; display:inline; }
.frzcd{width:4px; height:4px; margin-top:8px; background:#FFA200; font-size:0px; line-height:0px; float:left; display:inline;}
.frzc_c{width:290px; height:20px; margin-left:6px; line-height:20px; overflow:hidden; float:left; display:inline;}
.frzc_c a{font-size:12px; color:#000; text-decoration:none;}
.frzc_c a font{font-size:12px; color:#000; font-weight:bold; }
.cfz_cz ul{margin:0px; padding:0px; list-style-type:none;}

#lopul{width:160px; height:100px;  margin-top:10px; float:left; display:inline;}
#lp_ul{margin:0px; margin-left:16px; padding:0px; text-align:left;  list-style-type:none; line-height:16px;}
#lp_ul li{margin-top:2px; text-indent:10px; background:url(/images/test/ldd.jpg) no-repeat 0 4px;}
#lp_ck{width:140px; height:10px; font-size:0px; line-height:0px; float:Left; display:inline;}
#lp_ul a{font-size:13px; color:#666666; font-weight:bold; text-decoration:none;}
#lp_cc{width:175px; height:110px; margin-left:8px; margin-top:8px; background:#F5F5F5; float:left; display:inline;}
#l_pho{width:200px;  margin-left:5px; float:left; display:inline;}
#l_p_t{width:200px; height:7px; background:url(/images/test/l_t.jpg) no-repeat; font-size:0px; line-height:0px; float:left; display:inline;}
#l_p_b{width:200px; height:7px; background:url(/images/test/l_b.jpg) no-repeat; font-size:0px; line-height:0px; float:left; display:inline;}
#lp{width:198px; background:#F0F0F0; border-left:1px solid #DBDBDB; border-right:1px solid #DBDBDB; float:left; display:inline;}
#lp_c{width:190px; margin-left:4px; background:#ffffff; float:left; display:inline;}
#lp_t{width:170px; height:20px; margin-left:13px; margin-top:14px; font-size:13px; line-height:20px; color:#F34B00; font-weight:bold; float:left; display:inline;}
#lp_p{width:175px; height:50px; margin-left:13px; margin-top:15px; float:left; display:inline; }
#lp_l{width:50px; height:50px; float:left; display:inline;}
#lp_l img{width:50px; height:50px;}
#lp_word{width:120px; height:50px; margin-left:5px; line-height:25px; overflow:hidden; font-size:13px; font-weight:bold; float:left; display:inline;}
#lp_ul a font{font-size:12px; color:red; font-weight:bold; text-decoration:none;}

#c_l  #l_look{text-align:center; font-size:16px; line-height:42px;  font-weight:bold;}
#c_l #l_look a font{font-size:16px; color:#FF6600; font-weight:bold;}
#c_l #l_look a{text-decoration:none; color:#9F9F9F;  font-weight:bold;}

#l_look{width:200px; height:42px; margin-top:13px; background:url(/images/test/l_pg_b.jpg) no-repeat; border:0px solid red;  margin-left:5px; float:left; display:inline;}

#pic_r{width:210px; margin-top:5Px; line-height:0px; float:left; display:inline;}
.ppg{width:56px; margin-left:7px; margin-right:7px; margin-top:5px; float:left; display:inline;}
.ppg_w{width:56px; height:25px; line-height:25px; overflow:hidden; color:#2F9A32; text-align:center; float:left; display:inline;}
.pic_pg{width:56px; height:56px; font-size:0px; line-height:0px; background:url(/images/yard/pic_pg.jpg) no-repeat; float:left; display:inline;}
.pic_img{width:48px; height:48px; font-size:0px; line-height:0px; margin:4px; overflow:hidden; float:left; display:inline;}
.pic_img img{width:48px; height:48px;}
#l_f{width:195px; height:20px; margin-left:6px; margin-top:30px; float:left; display:inline;}
#lf_l{width:70px; height:16px; font-size:14px; color:#FF822F; font-weight:bold; float:left; display:inline;}
#lf_l font{color:#000000; font-size:14px;}
#lf_c{width:70px; height:16px; font-size:12px; margin-top:2px; color:#CCCCCC; font-weight:bold; line-height:16px; float:left; display:inline;}
#lf_c font{color:#FF9900;}
#lf_r{width:50px; height:12px; font-size:12px; margin-top:4px; font-weight:bold; color:#CCCCCC; float:right; display:inline;}

.hlc_t{width:200px; height:4px; margin-left:5px; margin-top:10px; font-size:0px; line-height:0px; background:url(/images/helper/lb_t.jpg) no-repeat; float:left; display:inline;}
.hlc_b{width:198px; margin-left:5px; border-left:1px solid #E7E7E7; border-right:1px solid #E7E7E7; float:left; display:inline;}
.hlc_bb{width:198px; margin-left:5px; height:4px; font-size:0px; line-height:0px; background:url(/images/helper/lb_b.jpg) no-repeat; float:left; display:inline;}
.hlcb_pg{width:198px; height:23px; background:url(/images/helper/lb_h.jpg) repeat-x; float:left; display:inline;}
.hlct_t{width:100px; height:15px; margin-left:14px; margin-top:2px; font-weight:bold; color:#4E4E4E; font-size:12px; float:left; display:inline;}
.hlcb_pg img{width:5px; height:3px; margin-top:8px; border:0px solid red; float:left; display:inline; }
.hlcb_z{width:198px; height:60px; margin-top:10px; float:left; display:inline;}
.hlcb_l{width:25px; height:60px; float:left; display:inline;}
.r{width:12px; height:12px; margin-left:10px; font-size:12px; line-height:12px; background:#F58626; color:#ffffff; border:1px solid #F36E0C; text-align:center; font-weight:bld; float:left; display:inline;}
.hlcb_r{width:160px; height:60px; margin-left:3px; float:left; display:inline;}
.hlcb_t{width:160px; height:16px; margin-top:1px; font-size:12px; font-weight:bold; color:#666666; overflow:hidden; line-height:16px; float:left; display:inline;}
.hlcb_t font{color:#F34B2E; font-size:12px;}

#pric_l{width:1px; height:175px; background:#ffffff; float:left; display:inline;}
#pric_rl{width:1px; height:154px; background:#ffffff; float:right; display:inline;}

#bottom{width:970px; text-align:center; margin-top:20px; font-size:12px; color:#666666; float:left; display:inline;}
#bottom_b{width:970px; margin-top:10px; margin-bottom:50px; text-align:center; font-size:12px; color:#666666; float:left; display:inline;}

#cr_ci{width:748px; height:208px; margin-top:15px; float:right; display:inline;}
#cri_t{width:748px; height:14px; font-size:0px; line-height:0px; background:url(/images/class/m2_p.jpg) no-repeat; float:left; display:inline;}
#cri_c{width:746px; border-left:1px solid #D6D6D6; background:#E4E4E4; border-right:1px solid #D6D6D6; float:left; display:inline;}
#cric_pg{width:736px;  margin-left:4px; border-left:1px solid #D6D6D6; border-right:1px solid #D6D6D6; background:url(/images/class/sousuo_pg.jpg) repeat-x; float:left; display:inline;}
#cri_b{width:748px; height:16px; background:url(/images/class/sousuo_pg_b.jpg) no-repeat; float:left; display:inline;}
#cric_title{width:735px; height:20px; margin-top:1px; font-family:����; font-size:20px; font-weight:bold; text-align:center; color:#617381; float:left; display:inline;}
#cric_title font{color:#379516;}
#cric_c{width:730px; height:128px; margin-top:13px; float:left; display:inline;}
.cricc_a{width:103px; height:128px; margin-left:18px; border:0px solid red; background:url(/images/class/c_pg.jpg) no-repeat; overflow:hidden; float:left; display:inline;}
.cricc_a div{width:88px; height:128px; overflow:hidden; border:0px solid red; float:left; display:inline;}
.cricc_a div img{width:88px; height:128px; border:0px solid red;}