body{width:970PX; margin: 0 auto; }
#ibody{width:970px; overflow:hidden; margin:0;}
#container{width:970px;  margin-top:12px; float:left; display:inline;}
#result_container{width:750px; float:right; display:inline;}

#result_top{width:743px; height:31px; background:url(/images/test_result/c_pg_t.jpg) no-repeat;  float:right; }
#result_middle{width:741px; border-right:1px solid #DBDBDB; border-left:1px solid #DBDBDB; float:right; }
	#result{width:355px;  margin-left:25px; float:left; display:inline;}
		.result_box{width:355px; overflow:hidden; float:left; display:inline;}
			.title{font-size:20px; line-height:25px; color:#71B7E0; font-family:黑体; font-weight:bold;}
			.content{width:355px; font-size:12px; color:#333333; line-height:20px; overflow:hidden; float:left;}
			.content font{font-size:16px; color:#F16A27; font-weight:bold;}
		#btn_recommand{width:82px; height:26px; margin-top:24px; margin-right:20px; background:url(/images/test_result/btn.jpg) no-repeat; text-align:center; line-height:26px; float:right; display:inline; }
			#btn_recommand a{color:#FFFFFF; text-decoration: none;}
	#c_hr{width:2px; height:1606px; margin-left:20px; background:url(/images/test_result/hr.jpg) no-repeat; font-size:0px; line-height:0px;  float:left; display:inline;}
	#recommand_container{width:250px; margin-left:10px; padding-left: 50px; overflow:hidden; float:left;}
		.recommand{float:left;}
			.recommand_pg_top{width:230px; height:49px; text-indent:45px; line-height:35px; color:#A0C73A; font-weight:bold; font-size:17px; background:url(/images/test_result/r_pg_t.jpg) no-repeat; float:left;}
			.recommand_pg_middle{width:228px;  background:#ECF3DF; border-right:1px solid #DBE3CC; border-left:1px solid #DBE3CC; float:left;}
				.recommand_pg_son{width:220px;  margin-left:4px; background:#fff; float:left; display:inline; overflow: hidden;}
					.recommand_image{width:192px;  margin-left:12px; overflow:hidden; float:left; display:inline;}
						.recommand_image img{width:74px; height:56px; float:left;}
						.recommand_image a{width:100px; height:36px; margin-left:10px; margin-top:15px; line-height:18px; font-size:12px; color:#333333; text-decoration:none; overflow:hidden; float:left;}
					.recommand_hr{width:196px; height:2px; margin-top:7px; margin-left:8px; background:url(/images/test_result/r_h.jpg) no-repeat; font-size:0px; line-height:0px; float:left;}
					
					.menu_hr{width:102px; height:2px; margin-top:4px; margin-left:15px; background:url(/images/test_result/r_d_h.jpg) no-repeat;  font-size:0px; line-height:0px; float:left;}
					.recommand_assistant{width:196px; height:22px; margin-top:4px; margin-left:15px; background:url(/images/test_result/p_a.jpg) no-repeat; overflow:hidden; line-height:22px; float:left;}
						.recommand_assistant a{ margin-left:30px; font-size:12px; color:#FF6600; text-decoration:none;}
					.recommand_course{width:196px; height:22px; margin-top:4px; margin-left:15px; background:url(/images/test_result/p_b.jpg) no-repeat; overflow:hidden; line-height:22px; float:left;}
						.recommand_course a{ margin-left:30px; font-size:12px; color:#FF6600; text-decoration:none;}
			.recommand_pg_bottom{width:230px; height:35px; background:url(/images/test_result/r_pg_b.jpg) no-repeat; float:left; }
#result_bottom{width:743px; height:11px; background:url(/images/test_result/r_hr.jpg) no-repeat; line-height:0px; float:right; }
#bottom_banner{width:746px; margin-top:20px; height:167px; float:right; display:inline;}
#bottom{width:970px; text-align:center; margin-top:20px; font-size:12px; color:#666666; float:left; display:inline;}
#bottom_b{width:970px; margin-top:10px; margin-bottom:50px; text-align:center; font-size:12px; color:#666666; float:left; display:inline;}