@CHARSET "UTF-8";
body{width:1000px; font-size:12px; color:#000000; margin: 0 auto;  background:url(../images/img_pg.jpg) repeat-x;}
#ibody{width:970px; overflow:hidden; background:#ffffff; margin:0 auto;}

#c_c{width:819px; height:1681px; background:pink;}
#c_c div{float:left; display:inline;}
#cc_info{height:375px; width:819px;background:url("/images/yard/c_c_bj.jpg") repeat-y;}
	#info_p1{width:180px; height:375px; margin-left:43px;}
		#p1_phobox{width:156px; height:156px; border:1px solid black;}
			#photo{width:150px; height:150px; margin:3px; overflow:hidden;}
		#p1_buttonbox{width:164px; height:62px; margin-left:3px;}
			.button{width:74px; height:21px; margin-top:10px;}
			.but_nl{width:2px; height:21px; background:url("/images/yard/but_nl.jpg") no-repeat;}
			.but_nr{width:2px; height:21px; background:url("/images/yard/but_nr.jpg") no-repeat;}
			.but_name{width:70px; height:19px; line-height:19px; text-align:center; color:#41619c;border-top:1px solid #ced5df; border-bottom:1px solid #ced5df; background:url("/images/yard/but_bj.gif") repeat-x;}
		#p1_other{width:142px; height:75px; margin-top:19px;}
			.other{width:142px; height:24px; border-bottom:1px solid #ced5df;}
			.oth_go{width:4px; height:7px; margin:9px 0 0 7px;}
			.oth_words{width:70px; height:24px; line-height:24px; color:#416298; margin-left:9px;}
			.oth_words font{color:#FF0000;}
	#info_p2{width:527px; height:375px;}
		#p2_namebox{width:200px; line-height:30px; height:60px;}
			.info_word{width:200px; height:30px;}
				.word_l{width:56px; font-size:14px;}
				.word_r{width:144px; height:30px;}
			#line1{width:523px; height:10px; margin-left:4px; border-bottom:1px dashed #DFDFDF;}
		#p2_info{width:450px; height:140px; margin-left:10px; background:#fff;}
			.oth_botton{width:81px; height:22px; margin:0 3px;}
				.oth_nl{width:3px; height:22px; background:url("/images/yard/oth_nl.jpg") no-repeat;}
				.oth_nr{width:3px; height:22px; background:url("/images/yard/oth_nr.jpg") no-repeat;}
				.oth_name{width:75px; height:16px; font-weight:bold; color:#FFFFFF; line-height:16px; text-align:center; border-top: 3px double #5cabe3; border-bottom: 3px double #5cabe3; background:url("/images/yard/oth_bj.jpg") repeat-x;}
			.basic_info{width: 350px; height:90px; margin-top:15px;  line-height:12px;}
				.font{width:350px; font-weight:bold;}
				.info_left{width:420px; height:80px; margin-left:25px;}
					.left_words{width:210px; height:12px; margin-top:14px;}
						.box{height:12px;}
						.info{width:100px; height:12px;}
			#line2{width:523px; height:13px; margin-left:4px; border-bottom:1px dashed #DFDFDF;}
			#p2_bb{width:450px; height:150px; margin-left:10px;}
	#info_p3{width:708px; height:400px; margin-left:43px; background:red;}
		#new_info{width:704px; height:32px; border:2px solid #e4e4e4;background:url("/images/yard/newinfo_bj.jpg") repeat-x;}
		#font2{font-weight:bold; color:#ad5104; margin:9px;}