@CHARSET "UTF-8";

#c_menu_selected{
   font-weight: bold;
   }
   
#reset_password{
    padding-left: 30px;
}  

.wr{
    width:300px;
    text-align: left;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:rgb(241,241,241);
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color: rgb(241,241,241);
    color:#666;
    background:rgb(249,249,249);
}
