@CHARSET "UTF-8";

#question_container{width:735px; margin-top:10px; float:left; display:inline;}
	#question_top{width:735px; height:33px; margin-top:10px; line-height:33px; background:url(/images/assistant_list/top.jpg) no-repeat; float:left;}
		#question_top a{text-decoration: none; font-size:14px; font-weight: bold; color: #000000;}
		#question_top font{text-decoration: none; font-size:14px; font-weight: bold; color: #F54B00;}
	#question_content{width:733px; border:1px solid #E7E7E7; border-top:0px solid #E7E7E7; float:left;}
		.question_banner{width:330px; height:20px; margin-top:5px; margin-left:32px; line-height:20px; float:left; display:inline;}
			.question_banner div {width:4px; height:4px; margin-top:8px; font-size:0px; background:#888888; float:left; display:inline;}
			.question_banner a{font-size:14px; color:#000000; text-decoration: none;}
			.question_banner a font{margin-left:5px; font-size:14px; font-weight:bold; color:#888888; text-decoration: underline;}