@CHARSET "UTF-8";
body{width:1000px; margin: auto auto;}
body font{letter-spacing:0.3mm;}
#ibody{width:1000px;  margin:0 auto;float:left;}

#user{width:200px;margin-top:5px;float:left;}
#user_ma{width:200px;height:170px;background:url(/images/avatar/user_ma_b.png)}
#user_ma_s{padding-left:18px;padding-top:18px;}
#user_ma_b{border-bottom:0.5px dashed black; width:172px;margin-left:14px;margin-top:3px}
#user_ma_h{margin-left:14px;margin-top:3px;height:60px;}
.user_b{height:50px;width:175px;background-color:#F8F8F8;margin-left:12px;margin-top:5px;}
.user_b_t{margin-left:20px;magin-top:5px;}
#user_me{width:200px;height:815px;margin-top:13px;background:url(/images/avatar/user_me_b.png)  }
.user_me_s{width:170px;height:125px;margin-left:12px;padding-top:30px;}
.user_me_t{padding-top:5px;padding-left:20px;}
.user_me_b{height:100px;width:165px;background-color:#F8F8F8;padding-left:12px;margin-top:5px;}
#user_me_o{margin-top:30px;margin-left:34px}
#user_ad{margin-top:30px;}
#right{width:760px;float:left;padding-left:25px;float:left;}
#right_up{width:760px;height:540px;float:left;margin-top:5px;}
#head{width:401px;  margin-left:8px; margin-top:5px;float:left; }
#head_b{width:401px;height:308px;margin:auto auto;background:url(/images/avatar/cc_h.png) ;}
#head_t{padding-top:120px;padding-left:160px;}
#head_a{width:401px; height:1px;background-color:#A3C1CD;margin:auto auto;}
.head_i{margin-left:8px;float:left;margin-top:5px;}
#right_up_right{float:left;margin-top:10px;}
.record{margin-top:10px;margin-left:10px;}
.text{}
.text font{margin-left:13px;color:#8C8C8C;}
.add{width:280px;height:3px;background-color:#A3C1CD;margin-top:5px;}
#mother{margin-left:15px;margin-top:25px;}
#right_bottom{width:740px;float:left;}
.txt{width:760px;margin-top:20px;float:left;}
.line1{background-color:#F5F5F5;height:2px;margin-top:5px;width:760px}
.line2{background-color:#F5F5F5;height:1px;margin-top:10px;width:760px}
.att{float:left;margin-top:15px;width:770px;}
.left{float:left;width:570px;margin-top:3px;}
.text1{width:760px;height:20px;padding-left:10px;padding-top:5px;float:left;color:#8C8C8C;}
.text1 font{margin-left:5px;}
.text2{width:440px;height:20px;padding-left:10px;padding-top:5px;float:left;color:#8C8C8C;}
.text2 font{margin-left:5px;}
#inyard{float:left;margin-left:280px;margin-top:20px;}
#bottom_l{background-color:#FB6104;width:1000px;height:2px; float:left;margin-top:20px;}
#bottom{padding-left:150px;width:1000px;height:20px;float:left;margin-top:20px;}
#bottom_b{padding-left:200px;width:1000px;height:20px;float:left;}