@CHARSET "UTF-8";
body{width:1000px; margin: 0 auto;}
body font{letter-spacing:0.3mm;}
body  a{text-decoration:none;}
#ibody{width:1000px;  margin:0 auto;float:left;}

#user{width:200px;margin-top:5px;float:left;}
#user_ma{width:200px;height:170px;background:url(/images/avatar/user_ma_b.png);}
#user_ma_s{padding-left:18px;padding-top:18px;height:20px;}
#user_ma_b{width:172px;margin-left:10px;height:18px;background:url(/images/avatar/dd.png);line-height:0px;}
#user_ma_h{margin-left:14px;margin-top:5px;height:50px;width:172px;}
.user_b{width:175px;background-color:#F8F8F8;margin-left:12px;margin-top:8px;}
.user_b_t{margin-left:20px;padding-top:5px;float:left;}
#user_me{width:200px;margin-top:13px;}
#user_me_top{width:200px;height:6px;background:url(/images/avatar/user_me_b_r1.png)  no-repeat;}
#user_me_center{width:200px;float:left;background:url(/images/avatar/user_me_b_l.png) repeat ;}

#user_me_middle{width:200px;float:left;}

#user_me_bottom{width:200px;height:6px;background:url(/images/avatar/user_me_b_r4.png) no-repeat ;}
.user_me_s{width:170px;margin-left:12px;padding-top:10px;}
.user_me_t{padding-top:10px;padding-left:20px;}
.user_me_b{width:150px;background-color:#F8F8F8;padding-left:12px;margin-top:5px;}
#user_me_o{margin-top:30px;margin-left:30px;height:39px;}
#user_ad{margin-top:30px;float:left;}
#right{width:760px;float:left;padding-left:25px;float:left;}
#right_up{width:760px;height:540px;float:left;margin-top:5px;}
#head{width:401px;  margin-left:8px; margin-top:10px;float:left; }
#head_b{width:401px;height:308px;margin:auto auto;background:url(/images/avatar/cc_h.png) ;}
#head_t{padding-top:120px;padding-left:160px;}
#head_a{width:401px; height:2px;margin:auto auto;}
.head_i{margin-left:8px;float:left;margin-top:5px;}
#right_up_right{float:left;margin-top:10px;height:490px;}
.record{margin-top:10px;margin-left:10px;}
.text{}
.text font{margin-left:13px;color:#8C8C8C;}
.add{width:280px;height:12px;margin-top:5px;}
#mother{margin-left:15px;margin-top:20px;}
#right_bottom{width:740px;float:left;}
.txt{width:760px;margin-top:20px;float:left;}
.line1{height:12px;width:760px;float:left;}
.line2{height:12px;width:760px;float:left;}
.att{float:left;margin-top:10px;width:770px;}
.left{float:left;width:600px;margin-top:3px;}
.text1{width:760px;height:20px;padding-top:5px;float:left;color:#8C8C8C;}
.text1 font{margin-left:5px;color:#8C8C8C;}
.text2{width:440px;padding-left:15px;padding-top:2px;float:left;color:#8C8C8C;}
.text2 font{margin-left:10px;color:#8C8C8C;}
#inyard{float:left;margin-left:300px;margin-top:10px;}
#bottom_l{width:1000px;height:2px; float:left;line-height:0px;margin-top:20px;}
#bottom{padding-left:150px;width:1000px;height:20px;float:left;line-height:100%;margin-top:20px;}
#bottom_b{padding-left:200px;width:1000px;height:20px;float:left;line-height:100%;}